<div class="banner">

  <div class="container">

    <div id="contact" class="row">
      <div class="col-lg-6">
        <h2>Contact Donny Electric:</h2>
      </div>
      <div class="col-lg-6">
        <span class="icon-contact">
          <i class="fa fa-phone"></i> 909 . 732 . 9871
        </span>
        </br>
        <span class="icon-contact">
          <i class="fa fa-map-marker"></i> Mead Valley, Perris, California</p>
        </span>
        <!-- Social buttons disabled
        <ul class="list-inline banner-social-buttons">
          {% for social in site.social %}
          <li>
              <a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
          </li>
          {% endfor %}
        </ul> -->
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.banner -->